name: Create Release

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  create-release:
    if: ${{ startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Get release version
        uses: xom9ikk/split@v1
        id: split
        with:
          string: ${{ github.head_ref }}
          separator: 'release-'

      - name: Get changelog
        uses: allienx/changelog-generator@main
        id: changelog
        with:
          github-token: ${{ github.token }}
          release-tag: ${{ steps.split.outputs._1 }}

      - name: Create tag and release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.split.outputs._1 }}
          tag_name: ${{ steps.split.outputs._1 }}
          target_commitish: main
          body: ${{ steps.changelog.outputs.summary }}
